* {
    box-sizing: border-box;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: backround 0.2s linear;
}

.dark {
    background-color: #292C35;
}



.checkbox {
    opacity: 0;
    position: absolute;
}


.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 10px;
    height: 52px;
    width: 150px;
    transform: scale(1.5);
}

.ball {
background-color: #111;
border-radius: 50%;
position: absolute;
top: 4px;
left: 6px;
height: 44px;
width: 44px;
transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(93px);
}

.fa-moon {
    color: #f1c40f;
    font-size: 37px;
}  

.fa-sun {
    color: rgb(201, 116, 18);
    font-size: 37px;
}

